.button {
    background-color: #d5b577;
    color: white;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 3px;
    float: right;
    margin-bottom: 40px;
}

.button input[type="submit"] {
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
    border: 0;
}