.form-label {
    font-weight: 700;
    color: #1e1f21;
}

.form-control, .form-control:hover, .form-control:focus{
    background-color: #f8f8f8;
    outline: 0;
    box-shadow: none;
    border-color: #e6e7ec;
    color: #5e6162;
    font-weight: 500;
}

.form-group label, .form-group input {
    font-size: 15px;
}

/* .form-group {
    margin: 0 10px 1rem;
} */

.number-input {
    width: 50%;
}

.number-input .form-control {
    /* display: flex; */
    width: 90%;
}

.number-group {
    display: flex;
    align-items: center;
}

.number-group p {
    margin-bottom: 0;
    margin-left: 10px;
}