.page-wrapper {
    margin-left: 225px;
    padding: 4%;
}

.page-wrapper-secondary {
    margin-right:75px;
}

/* @media screen and (max-width: 800px) {
    .page-wrapper {
        margin: auto;
    }
} */